---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Welcome, I'm tiramify.">
	<div class="w">

    <div class="area flex w-screen justify-center items-center">
      <div
        class="border-solid border-t-2 border-b-2 flex flex-row justify-center w-full"
      >
        <div class="flex flex-col pr-5">
          <div>
            <h1 class="pt-5 text-4xl font-bold">
              Hi, I'm <span class="neon">tiramify.</span>
            </h1>
            <p class="text-lg">
              I'm a backend|bot developer, also check out my social medias.
            </p>
          </div>
          <div id="social_medias" class="pt-1 flex fill-white space-evenly">
            <a aria-label="Link to GitHub" href="https://u.tiramify.dev/github" class="fill-white" rel="noopener noreferrer">
              <svg
                role="img"
                class="w-6 h-6 fill-white"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                ><title>GitHub</title><path class="fill-white"
                  d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
                ></path></svg
              >
            </a>
            <a aria-label="Link to my Discord" href="https://u.tiramify.dev/discord" class="fill-white ml-2" rel="noopener noreferrer">
              <svg class="fill-white w-6 h-6" viewBox="0 0 100 100" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">             
                <path class="st89" d="M85.22,24.958c-11.459-8.575-22.438-8.334-22.438-8.334l-1.122,1.282     c13.623,4.087,19.954,10.097,19.954,10.097c-19.491-10.731-44.317-10.654-64.59,0c0,0,6.571-6.331,20.996-10.418l-0.801-0.962     c0,0-10.899-0.24-22.438,8.334c0,0-11.54,20.755-11.54,46.319c0,0,6.732,11.54,24.442,12.101c0,0,2.965-3.526,5.369-6.571     c-10.177-3.045-14.024-9.376-14.024-9.376c6.394,4.001,12.859,6.505,20.916,8.094c13.108,2.698,29.413-0.076,41.591-8.094     c0,0-4.007,6.491-14.505,9.456c2.404,2.965,5.289,6.411,5.289,6.411c17.71-0.561,24.441-12.101,24.441-12.02     C96.759,45.713,85.22,24.958,85.22,24.958z M35.055,63.824c-4.488,0-8.174-3.927-8.174-8.815     c0.328-11.707,16.102-11.671,16.348,0C43.229,59.897,39.622,63.824,35.055,63.824z M64.304,63.824     c-4.488,0-8.174-3.927-8.174-8.815c0.36-11.684,15.937-11.689,16.348,0C72.478,59.897,68.872,63.824,64.304,63.824z"/>
                </svg>
            </a>
            <a aria-label="Link to my WakaTime" class="fill-white" href="https://u.tiramify.dev/wakatime" rel="noopener noreferrer">
              <svg
                role="img"
                class="w-6 h-6 ml-2 fill-white"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                ><title>WakaTime</title><path
                  d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 2.824a9.176 9.176 0 1 1 0 18.352 9.176 9.176 0 0 1 0-18.352zm5.097 5.058c-.327 0-.61.19-.764.45-1.025 1.463-2.21 3.162-3.288 4.706l-.387-.636a.897.897 0 0 0-.759-.439.901.901 0 0 0-.788.492l-.357.581-1.992-2.943a.897.897 0 0 0-.761-.446c-.514 0-.903.452-.903.96a1 1 0 0 0 .207.61l2.719 3.96c.152.272.44.47.776.47a.91.91 0 0 0 .787-.483c.046-.071.23-.368.314-.504l.324.52c-.035-.047.076.113.087.13.024.031.054.059.078.085.019.019.04.036.058.052.036.033.08.056.115.08.025.016.052.028.076.04.029.015.06.024.088.035.058.025.122.027.18.04.031.004.064.003.092.005.29 0 .546-.149.707-.36 1.4-2 2.842-4.055 4.099-5.849A.995.995 0 0 0 18 8.842c0-.508-.389-.96-.903-.96"
                ></path></svg>
            </a>
          </div>
        </div>

        <div>
          <Image
            src="/tiramify.png"
            class="w-64 border-solid border-x-2"
            height="512"
            width="512"
            alt="tiramify"
          />
        </div>
      </div>
    </div>
</div>
</Layout>

<style>
	.area {
		background-color: #0cbaba;
		background-image: linear-gradient(315deg, #0cbaba 0%, #380036 90%);
	}
</style>
