---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome, I am tiramify.">
	<main>
		<p>Welcome to my Home Page, there's nothing here right now, but just wait.</p>
	</main>
</Layout>